NEXT_PUBLIC_SERVICE_NAME=e-ポートフォリオ
NEXT_PUBLIC_SERVICE_DESCRIPTION=e-ポートフォリオは、教育指標毎のオープンバッジの取得状況を確認するサイトです。
NEXT_PUBLIC_PORTAL_BASE_URL=http://localhost
NEXT_PUBLIC_WALLET_BASE_URL=https://example.com
NEXT_PUBLIC_COPYRIGHT_LINK=https://copyright.example.com
NEXT_PUBLIC_COPYRIGHT=Copyright © Osaka Kyoiku University. All rights reserved.
NEXT_PUBLIC_CSV_FILE_NAME=e-Portfolio
NEXT_PUBLIC_ANALYTICS_SHEET_LINK=https://example.com
NEXT_PUBLIC_HELP_LINK=https://help.example.com
NEXT_PUBLIC_BACK_URL=https://dev-portal.oku.cccties.org/
PASSWORD=pass,pass2,pass3
orthros_login_key_base64=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0NCk1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBdTFTVTFMZlZMUEhDb3pNeEgyTW8NCjRsZ09FZVB6Tm0wdFJnZUxlelY2ZmZBdDBndW5WVEx3N29uTFJucnEwL0l6Vzd5V1I3UWtybUJMN2pUS0VuNXUNCitxS2hid0tmQnN0SXMrYk1ZMlprcDE4Z25UeEtMeG9TMnRGY3pHa1BMUGdpenNrdWVtTWdoUm5pV2FvTGN5ZWgNCmtkM3FxR0VsdlcvVkRMNUFhV1RnMG5MVmtqUm85eis0MFJRenVWYUU4QWtBRm14WnpvdzN4K1ZKWUtkanlra0oNCjBpVDl3Q1MwRFJUWHUyNjlWMjY0VmYvM2p2cmVkWmlLUmtnd2xMOXhOQXd4WEZnMHgvWEZ3MDA1VVdWUklrZGcNCmNLV1RqcEJQMmRQd1ZaNFdXQys5YUdWZCtHeW4xbzBDTGVsZjRyRWpHb1hiQUFFZ0FxZUdVeHJjSWxialhmYmMNCm13SURBUUFCDQotLS0tLUVORCBQVUJMSUMgS0VZLS0tLS0=
# 上記公開鍵に対応したJWTは以下の通り
# eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJlcHBuIjoiMTIzNDU2Nzg5MCIsImRpc3BsYXlOYW1lIjoiSm9obiBEb2UiLCJhZG1pbiI6dHJ1ZSwiaWF0IjoxNTE2MjM5MDIyfQ.mk0QI0j5M9Xq3TtImwZOxBpR-xK0bnCdwFulQA6fAUHylAWR1UCpj7JgeU519FNJ1NQTA08WuNg4MCNDsJp8Z5OnlpBkoFuv-xQ6pyQVIFH-XJH2h2vIrOUpB0FfcJqRiDbZTKbC0fdoLwKm_fKNJCCyJJhvuyWEcQPPwzB-pSMbgSS-ORwLPtXn_afvEOUlblC-LRYSnDCGfwa4ND2v-Dp_V2NWRUDAC_ZKhGZKehb39OOE373k5Um_Xxadci7Mh4Ij1e0Q_EPH5ttOROjOSdcvT1Qab7eTN1DwLc4wSiTBxmHsmEnSH1mJOtGJ4YXhmYuNSgCuFe-xdU-UZ509zw
BCRYPT_SALT=\$2a\$12\$aqYLqFynQDdDs5CeyIcKFO
NEXT_PUBLIC_LOGOUT_LINK=https://example.com/Shibboleth.sso/Logout
ENCRYPTION_KEY=7SGR101CI6OXPEA6OIS245A64KC1URBB
ENCRYPTION_IV=H2XF21Q88XRQJJMF

# ポータルダッシュボードヘッダの、遷移先URL
NEXT_PUBLIC_PORTAL_HEADER_LOGO_TITLE="ホーム"
NEXT_PUBLIC_PORTAL_HEADER_LOGO_LINK="http://logo_link"
NEXT_PUBLIC_PORTAL_HEADER_DASHBOARD_TITLE="あなたのダッシュボード"
NEXT_PUBLIC_PORTAL_HEADER_DASHBOARD_LINK="http://dashboard_link"
NEXT_PUBLIC_PORTAL_HEADER_LEARNING_TITLE="コースを探す"
NEXT_PUBLIC_PORTAL_HEADER_LEARNING_LINK="http://learning_link"
NEXT_PUBLIC_PORTAL_HEADER_ISSUER_TITLE="コース提供者"
NEXT_PUBLIC_PORTAL_HEADER_ISSUER_NAME="pub1, pub2, pub3, pub4, pub5"
NEXT_PUBLIC_PORTAL_HEADER_ISSUER_LINK="url1, url2, url3, url4, url5"
# Footer情報 (※ポータル側コードではlib/$path.tsによる自動生成
NEXT_PUBLIC_PORTAL_FOOTER_LINK="https://dev-portal.oku.cccties.org/concept, https://dev-portal.oku.cccties.org/about_site, https://dev-portal.oku.cccties.org/about_operator, https://dev-portal.oku.cccties.org/privacy_policy, https://dev-portal.oku.cccties.org/disclaimer, https://dev-portal.oku.cccties.org/copyright, https://dev-portal.oku.cccties.org/contact"
NEXT_PUBLIC_PORTAL_FOOTER_NAME="OZONE-EDUについて, このサイトについて, 運営元について, プライバシーポリシー, ご利用にあたって（免責事項）, 教材の著作権について, お問い合わせ"