NEXT_PUBLIC_SERVICE_NAME=e-ポートフォリオ
NEXT_PUBLIC_SERVICE_DESCRIPTION=e-ポートフォリオは、教育指標毎のオープンバッジの取得状況を確認するサイトです。
NEXT_PUBLIC_OKUTEP_BASE_URL=http://localhost
NEXT_PUBLIC_WALLET_BASE_URL=https://dev-wallet.oku.cccties.org
NEXT_PUBLIC_COPYRIGHT_LINK=https://osaka-kyoiku.ac.jp/
NEXT_PUBLIC_COPYRIGHT=Copyright © Osaka Kyoiku University. All rights reserved.
NEXT_PUBLIC_CSV_FILE_NAME=e-Portfolio
INPUT_KEY=pass
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_PASSWORD=pass
NEXTAUTH_SECRET=1234567
SESSION_MAX_AGE_HOUR=12
